{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_commande</th>
                <td>{{ commande.idCommande }}</td>
            </tr>
            <tr>
                <th>Montant_total</th>
                <td>{{ commande.montantTotal }}</td>
            </tr>
            <tr>
                <th>Date_commande</th>
                <td>{{ commande.dateCommande ? commande.dateCommande|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ commande.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commande_index') }}">back to list</a>

    <a href="{{ path('app_commande_edit', {'id_commande': commande.id_commande}) }}">edit</a>

    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
