{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_client</th>
                <td>{{ client.idClient }}</td>
            </tr>
            <tr>
                <th>Addresse_client</th>
                <td>{{ client.addresseClient }}</td>
            </tr>
            <tr>
                <th>Num_tel_client</th>
                <td>{{ client.numTelClient }}</td>
            </tr>
            <tr>
                <th>Image_url</th>
                <td>{{ client.imageUrl }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_client_index') }}">back to list</a>

    <a href="{{ path('app_client_edit', {'id_client': client.id_client}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
